@import "../libs/boostrap/scss/bootstrap.scss";

$ni-color: #250E8A;
$ni-color-alternative: #00F9F7;
$white: #FFF !default;

.white {
  color: $white;
}

.top-section{
  // background-color: $ni-color;
  .container > .row{
    min-height: 600px;
    height: calc(100vh - 56px);
  }
}

.bg-gradient{
  background: linear-gradient(to top left, $ni-color-alternative, $ni-color);
}

.img-list {
  width: 70px;
  margin-right: 15px;
  float: left;
}
