@import "./mixins.scss";
@import "../libs/boostrap/scss/bootstrap.scss";

// Custom CSS
@import "./nav.scss";
@import "./cards.scss";
@import "./retina.scss";

.white {
  color: $white;
}

.top-section{
  // background-color: $ni-color;
  .container > .row{
    min-height: 600px;
    max-height: 840px;
    height: calc(100vh - 56px);
    padding-top: 88px;
  }
}

.bg-top-gradient{
  background:
    url('../images/bg-bottom.png') repeat-x,
    linear-gradient(to top left, $ni-color-alternative, $ni-color);
    background-position: bottom;
    background-size: auto 100px, auto;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    background:
      url('../images/bg-bottom@2x.png') repeat-x,
      linear-gradient(to top left, $ni-color-alternative, $ni-color);
      background-position: bottom;
      background-size: auto 100px, auto;
  }
}

.bg-bottom-gradient{
  background:
    url('../images/bg-top.png') repeat-x,
    linear-gradient(to top left, $ni-color-alternative, $ni-color);
    background-position: top;
    background-size: auto 100px, auto;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    background:
      url('../images/bg-top@2x.png') repeat-x,
      linear-gradient(to top left, $ni-color-alternative, $ni-color);
      background-position: top;
      background-size: auto 100px, auto;
  }
}

.bg-gradient-alternative{
  @include ni-gradient();
}

.img-list {
  width: 70px;
  margin-right: 15px;
  float: left;
}

p.contact-us{
  @include media-breakpoint-up(sm) {
    @include vertical-align(absolute);
  }
}

// Footer

.pt-footer {
  padding-top: 6rem;
}

.mt-footer {
  margin-top: 6rem;
}

.footer {
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-top: 1px solid $white;
}
