.container.py-5
  .row

    .col
      %h2.my-5.text-center Nos heureux clients

    .w-100

    .col

      .row

        .col
          %img.img-fluid{:src => image_path('customers/cogedim.svg')}/
        .col
          %img.img-fluid{:src => image_path('customers/franceinfo.svg')}/
        .col
          %img.img-fluid{:src => image_path('customers/groupe-pelloux.svg')}/
        .col
          %img.img-fluid{:src => image_path('customers/mskh.svg')}/
        .col
          %img.img-fluid{:src => image_path('customers/mustela.svg')}/
        .col
          %img.img-fluid{:src => image_path('customers/suez.svg')}/
