%footer.bg-bottom-gradient
  .container.pt-6
    .row
      .col.white
        %h1.my-5.text-center.white Contact
        %p.text-center
          Vous avez un besoin, une idée ou une question ?
        %p.text-center
          %a.btn.btn-primary.btn-lg{:href => "/"} Écrivez-nous

        .footer.mt-6
          %p.mb-0 © 2018 - Nako interactive
