.top-section.bg-top-gradient
  .container
    .row.align-items-center
      .col-12.col-lg-6.white.text-center.text-lg-left
        %h1.mb-4 Agence digitale tournée vers le futur
        %p Autocryp is the place to buy and sell Bitcoin, Ethereum and various kinds of Digital Assets in Indonesia. Then, book your weekly, bi-weekly or one-off clean online with imminent confirmation. Autocryp is the place to buy and sell Bitcoin, Ethereum and various kinds of Digital Assets in Indonesia. Then, book your weekly, bi-weekly or one-off clean online with imminent confirmation.
      .col-12.col-lg-6
        .row
          .col
            .card.text-center.benefit
              %img.img-fluid.mx-auto{:src => image_path('Illustrations/influencer.svg')}/
              %p Influenceur
          .col
            .card.text-center.benefit
              %img.img-fluid.mx-auto{:src => image_path('Illustrations/startup.svg')}/
              %p Startup
          .col
            .card.text-center.benefit
              %img.img-fluid.mx-auto{:src => image_path('Illustrations/enterprise.svg')}/
              %p Entreprise
