.top-section.bg-image
  .container
    .row.align-items-center
      .col
        .text-center.white
          %h1.mb-4 Qui sommes-nous ?
          %p Nako Interaktive réuni des experts digitaux issus d'agences et du conseil pour vous accompagner dans votre stratégie de communication online afin d'augmenter votre visibilité et votre croissance.
          %p Après plusieurs années en agence et en conseil, nous avons choisi d’unir nos compétences pour fonder une entreprise avec des valeurs en cohérence avec notre vision du digital.
          %p Nous attachons une importance à travailler de manière transparente, collaborative et agile avec tous nos clients.
