.top-section.bg-top-gradient
  .container
    .row.align-items-center
      .col-12.col-lg-6.white.text-center.text-lg-left
        %h1.mb-4 Agence digitale tournée vers le futur
        %p Nous accompagnons les entreprises et influenceurs dans leur stratégie de développement sur l’ensemble des leviers digitaux. Notre expertise transversale fait de nous votre partenaire idéal pour la définition et mise en oeuvre de votre présence digitale et votre stratégie de communication.
      .col-12.col-lg-6
        .row
          .col
            .card.text-center.benefit
              %img.img-fluid.mx-auto{:src => image_path('Illustrations/influencer.svg')}/
              %p Influenceur
          .col
            .card.text-center.benefit
              %img.img-fluid.mx-auto{:src => image_path('Illustrations/startup.svg')}/
              %p Startup
          .col
            .card.text-center.benefit
              %img.img-fluid.mx-auto{:src => image_path('Illustrations/enterprise.svg')}/
              %p Entreprise
