---
title : Services - Nako interactive
---

= partial "partials/top-content-contact.html"

.container.py-5
  .row
    .col.offset-md-2
      #thank-you.d-none
        .thank-you-message.alert.alert-success.alert-dismissible.fade.hide{:role => "alert"}
          Merci de m'avoir contacté, je vous répondrai dès que possible.

      %form{:action => "https://getsimpleform.com/messages?form_api_token=a8d4491d845e48e015d6a3718d5764f2", :method => "post", :enctype => "multipart/form-data"}

        %input{:name => "redirect_to", :type => "hidden", :value => "http://localhost:4567/contact#thank-you"}/
        %input{:name => "_folder", :type => "hidden", :value => "quotes"}/
        %input{:name => "_spam", :type => "hidden", :value => "message"}/

        .row
          .col-12.col-sm-6.col-md-12.col-lg-12.col-xl-6
            .form-group

              %select.form-control{:name => "Enterprise", :required => ""}
                %option{:disabled => "", :selected => "selected", :value => ""} Quel type d'entreprise ?
                %option{:value => "1"} Influenceur
                %option{:value => "2"} Start up
                %option{:value => "3"} Entreprise

          .col-12.col-sm-6.col-md-12.col-lg-12.col-xl-6
            .form-group

              %select.form-control{:name => "Project", :required => ""}
                %option{:disabled => "", :selected => "selected", :value => ""} Quel type de projet ?
                %option{:value => "1"} Développement site web
                %option{:value => "2"} Création graphique
                %option{:value => "3"} Social media
                %option{:value => "4"} SEA / SEO

        .form-group
          %input.form-control{:name => "Phone", :placeholder => "Numéro de téléphone", :type => "phone", :required => ""}/

        .form-group
          %input.form-control{:name => "Mail", :placeholder => "Email", :type => "email", :required => ""}/

        .form-group
          %textarea.form-control{:name => "Message", :placeholder => "Message", :rows => "3"}

        %button.btn.btn-primary{:type => "Submit"} Envoyer
    .col-md-2
