---
title : Accueil - Nako interactive
---

= partial "partials/top-content-default.html"

.container.py-5
  .row
    .col
      %h1.my-5.text-center Services

    .w-100

    .col
      .card
        .card-header.card-bg-1
          %p Conseil & Stratégie
        .card-body
          %p.card-text Nous vous aidons à définir votre stratégie de communication 360° adaptée à vos problématiques marketing : positionnement, choix des moyens de communication, déclinaison de l’axe de communication sur l’ensemble des canaux de communication en fonction de vos objectifs.
    .col
      .card
        .card-header.card-bg-2
          %p Social Media
        .card-body
          %p.card-text Nous vous accompagnons dans la définition de votre stratégie Social Media différenciante, ainsi que dans la gestion quotidienne de vos réseaux sociaux, de la création des contenus jusqu’à la publication des posts.

    .w-100.d-block.d-sm-none

    .col
      .card
        .card-header.card-bg-3
          %p Design & UX
        .card-body
          %p.card-text Nous concevons des site internet qui vous ressemblent et mettent l’utilisateur au centre de l’attention. Nos équipes UX et UI interviennent également dans la création ou l’optimisation de l’expérience et des parcours utilisateur de votre site pour améliorer vos performances.

    .w-100.d-none.d-sm-block

    .col
      .card
        .card-header.card-bg-4
          %p Développement
        .card-body
          %p.card-text Nous créons  votre site web. Que ce soit un site vitrine,  e-commerce ou blog. En fonction de vos besoins, basé sur un CMS ou du HTML5.

    .w-100.d-block.d-sm-none

    .col
      .card
        .card-header.card-bg-5
          %p SEA & Social ads
        .card-body
          %p.card-text Nous gérons vos campagnes payantes sur les moteurs de recherche ainsi que sur les réseaux sociaux afin d’augmenter votre visibilité, générer du trafic et augmenter vos ventes.
    .col
      .card
        .card-header.card-bg-6
          %p Référencement naturel
        .card-body
          %p.card-text Nous optimisations techniquement et sémantiquement votre site pour améliorer votre positionnement sur les moteurs de recherche.

.bg-gradient-alternative
  .container
    .row
      .col-sm-7.col-md-8
        %p.mt-5.my-sm-0.white.contact-us Vous avez un besoin, une idée ou une question ?

      .col-sm-5.col-md-4

        %a.mb-5.my-sm-5.btn.btn-light.btn-block.btn-lg{:href => "/contact"} Ecrivez-nous

.container.py-5
  .row

    .col
      %h1.my-5.text-center Portfolio

    .w-100

    .col-md-6

      .card
        %ul.list-group.list-group-flush
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            .service
              %h5 Webdesign
              %p Création d’un site web
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            .service
              %h5 Webdesign
              %p Création d’un site web
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            .service
              %h5 Webdesign
              %p Création d’un site web
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            .service
              %h5 Webdesign
              %p Création d’un site web

    .col-md-6
      %img.img-fluid{:src => image_path('computer.png'), :srcset => " #{image_path('computer@2x.png')} 2x, #{image_path('computer.png')} 1x"}/

= partial "partials/customers.html"
