---
title : Accueil - Nako interactive
---

.top-section.bg-gradient
  .container
    .row.align-items-center
      .col-12.col-md-6.white
        %h1.mb-4 Agence digitale tournée vers le futur
        %p Autocryp is the place to buy and sell Bitcoin, Ethereum and various kinds of Digital Assets in Indonesia. Then, book your weekly, bi-weekly or one-off clean online with imminent confirmation. Autocryp is the place to buy and sell Bitcoin, Ethereum and various kinds of Digital Assets in Indonesia. Then, book your weekly, bi-weekly or one-off clean online with imminent confirmation.
      .col-12.col-md-6
        .row
          .col
            .card.text-center
              %img.img-fluid{:src => image_path('Illustrations/influencer.svg')}/
              %p Influenceur
          .col
            .card.text-center
              %img.img-fluid{:src => image_path('Illustrations/startup.svg')}/
              %p Startup
          .col
            .card.text-center
              %img.img-fluid{:src => image_path('Illustrations/enterprise.svg')}/
              %p Entreprise

.container.py-5
  .row
    .col
      %h1.my-5.text-center Services

    .w-100

    .col
      .card
        .card-header.card-bg-1
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.
    .col
      .card
        .card-header.card-bg-2
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

    .w-100.d-block.d-sm-none

    .col
      .card
        .card-header.card-bg-3
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

    .w-100.d-none.d-sm-block

    .col
      .card
        .card-header.card-bg-4
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

    .w-100.d-block.d-sm-none

    .col
      .card
        .card-header.card-bg-5
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.
    .col
      .card
        .card-header.card-bg-6
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

.bg-gradient-alternative
  .container
    .row
      .col-sm-7.col-md-8
        %p.mt-5.my-sm-0.white.contact-us Vous avez un besoin, une idée ou une question ?

      .col-sm-5.col-md-4

        %a.mb-5.my-sm-5.btn.btn-light.btn-block.btn-lg{:href => "/"} Ecrivez-nous

.container.py-5
  .row

    .col
      %h1.my-5.text-center Portfolio

    .w-100

    .col

      .card
        %ul.list-group.list-group-flush
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            %h5 Webdesign
            %p Création d’un site web
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            %h5 Webdesign
            %p Création d’un site web
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            %h5 Webdesign
            %p Création d’un site web
          %li.list-group-item
            %img.img-list{:src => image_path('Illustrations/startup.svg')}/
            %h5 Webdesign
            %p Création d’un site web


    .col
      %img.img-fluid{:src => image_path('computer.png'), :srcset => " #{image_path('computer@2x.png')} 2x, #{image_path('computer.png')} 1x"}/
