---
title : Portfolio - Nako interactive
---

= partial "partials/top-content-alternative.html"

.container.py-5
  .row
    .col
      %h1.my-5.text-center Portfolio

    .w-100

    .col
      .card
        .card-header.card-bg-1
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.
    .col
      .card
        .card-header.card-bg-2
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

    .w-100.d-block.d-sm-none

    .col
      .card
        .card-header.card-bg-3
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

    .w-100.d-none.d-sm-block

    .col
      .card
        .card-header.card-bg-4
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

    .w-100.d-block.d-sm-none

    .col
      .card
        .card-header.card-bg-5
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.
    .col
      .card
        .card-header.card-bg-6
          %p Social Media
        .card-body
          %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.
